h2.gener{
    text-align: center;
}

div.groc{
    background-color: yellow;
    height: 2cm;
    width: 16cm;
    display: inline-block;
}

div.blau{
    background-color: blue;
    height: 2cm;
    width: 16cm;
    display: inline-block;
}

div.roig{
    background-color: red;
    height: 2cm;
    width: 16cm;
    display: inline-block;
}

div.verde{
    background-color: green;
    height: 2cm;
    width: 49cm;
    display: inline-block;
}

div.german{
    background-color: yellow;
    text-align: center;
}

div.estudiar{
    text-align: center;
}